In [ ]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from io import StringIO
import warnings
warnings.filterwarnings('ignore')

In [ ]:
heart = pd.read_csv('/content/X_train.csv')
heart.head()

   id  age  sex  cp  trestbps  chol  ...  thalach  exang  oldpeak  slope  ca  thal
0   1   63    1   3       145   233  ...      150      0      2.3      0   0     1
1   2   37    1   2       130   250  ...      187      0      3.5      0   0     2
2   3   41    0   1       130   204  ...      172      0      1.4      2   0     2
3   4   56    1   1       120   236  ...      178      0      0.8      2   0     2
4   5   57    0   0       120   354  ...      163      1      0.6      2   0     2

[5 rows x 14 columns]

In [ ]:
X = heart.iloc[:, 1:]
X.head()

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   63    1   3       145   233    1  ...      150      0      2.3      0   0     1
1   37    1   2       130   250    0  ...      187      0      3.5      0   0     2
2   41    0   1       130   204    0  ...      172      0      1.4      2   0     2
3   56    1   1       120   236    0  ...      178      0      0.8      2   0     2
4   57    0   0       120   354    0  ...      163      1      0.6      2   0     2

[5 rows x 13 columns]

In [ ]:
X.isnull().sum(axis=0)

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [ ]:
Y = pd.read_csv('/content/y_train.csv')
Y.head()

   id  target
0   1       1
1   2       1
2   3       1
3   4       1
4   5       1

In [ ]:
Y.isnull().sum(axis=0)

id        0
target    0
dtype: int64

In [ ]:
Y = Y.iloc[:, 1:]
Y.head()

   target
0       1
1       1
2       1
3       1
4       1

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
mms = MinMaxScaler()
X_min = mms.fit_transform(X)

In [ ]:
X_train = pd.DataFrame(X_min, columns=X.columns, index=X.index)
X_train.head()

        age  sex        cp  trestbps  ...   oldpeak  slope   ca      thal
0  0.708333  1.0  1.000000  0.481132  ...  0.370968    0.0  0.0  0.333333
1  0.166667  1.0  0.666667  0.339623  ...  0.564516    0.0  0.0  0.666667
2  0.250000  0.0  0.333333  0.339623  ...  0.225806    1.0  0.0  0.666667
3  0.562500  1.0  0.333333  0.245283  ...  0.129032    1.0  0.0  0.666667
4  0.583333  0.0  0.000000  0.245283  ...  0.096774    1.0  0.0  0.666667

[5 rows x 13 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, Y, 
                                                    test_size=0.2, 
                                                    random_state=0, 
                                                    stratify=Y)
len(X_train), len(X_test)

(186, 47)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
index = 0
max = 0
for i in range(1,10):
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(X_train, y_train)
    a = accuracy_score(y_test, knn.predict(X_test))
    if (a > max):
      max = a
      index = i
print(str(i)+"개일 때의 정확도 "+str(max))

9개일 때의 정확도 0.8297872340425532

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

index = 0
max = 0
for i in range(1,5):
    svc = SVC(kernel="poly", degree=i)
    svc.fit(X_train, y_train)
    a = accuracy_score(y_test, svc.predict(X_test))
    if (a > max):
      max = a
      index = i
print(str(i)+"degree일 때의 정확도 "+str(max))

4degree일 때의 정확도 0.8936170212765957

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
index = 0
max = 0

for i in range(1,10):
    dt = DecisionTreeClassifier(max_depth=i)
    dt.fit(X_train, y_train)
    a = accuracy_score(y_test, dt.predict(X_test))
    if (a > max):
      max = a
      index = i
print(str(i)+"depth일 때의 정확도 "+str(max))

9depth일 때의 정확도 0.8723404255319149

In [ ]:
X_test = pd.read_csv('/content/X_test.csv')
X_test.head()

    id  age  sex  cp  trestbps  chol  ...  thalach  exang  oldpeak  slope  ca  thal
0  266   66    1   0       112   212  ...      132      1      0.1      2   1     2
1  267   55    0   0       180   327  ...      117      1      3.4      1   0     2
2  268   49    1   2       118   149  ...      126      0      0.8      2   3     2
3  269   54    1   0       122   286  ...      116      1      3.2      1   2     2
4  270   56    1   0       130   283  ...      103      1      1.6      0   0     3

[5 rows x 14 columns]

In [ ]:
X_test.isnull().sum(axis=0)

id          0
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [ ]:
Y_test = X_test.iloc[:, 0]
X_test = X_test.iloc[:, 1:]

In [ ]:
X_test.head()

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   66    1   0       112   212    0  ...      132      1      0.1      2   1     2
1   55    0   0       180   327    0  ...      117      1      3.4      1   0     2
2   49    1   2       118   149    0  ...      126      0      0.8      2   3     2
3   54    1   0       122   286    0  ...      116      1      3.2      1   2     2
4   56    1   0       130   283    1  ...      103      1      1.6      0   0     3

[5 rows x 13 columns]

In [ ]:
Y_test = pd.DataFrame(Y_test)
Y_test.head()

    id
0  266
1  267
2  268
3  269
4  270

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

mms = MinMaxScaler()
X_test_min = mms.fit_transform(X_test)
X2_test = pd.DataFrame(X_test_min, columns=X_test.columns, index=X_test.index)
X2_test.head()

        age  sex        cp  trestbps  ...   oldpeak  slope    ca      thal
0  0.756098  1.0  0.000000     0.150  ...  0.022727    1.0  0.25  0.666667
1  0.487805  0.0  0.000000     1.000  ...  0.772727    0.5  0.00  0.666667
2  0.341463  1.0  0.666667     0.225  ...  0.181818    1.0  0.75  0.666667
3  0.463415  1.0  0.000000     0.275  ...  0.727273    0.5  0.50  0.666667
4  0.512195  1.0  0.000000     0.375  ...  0.363636    0.0  0.00  1.000000

[5 rows x 13 columns]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth = 4)
dt.fit(X_train, Y)
result = dt.predict(X_test)
Y_test.insert(1,"target",result,True)
Y_test.head()

    id  target
0  266       0
1  267       0
2  268       0
3  269       0
4  270       0

In [ ]:
Y_test.to_csv("/content/Decision4.csv",index=False)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=9, metric='minkowski', p=2)
knn.fit(X_train, Y)
result = knn.predict(X2_test)
Y_test.insert(1,"target",result,True)
Y_test.head()

    id  target
0  266       0
1  267       0
2  268       0
3  269       0
4  270       0

In [ ]:
Y_test.to_csv("/content/neighbors9.csv",index=False)

In [ ]:
from sklearn.svm import SVC
svc = SVC(kernel="linear")
svc.fit(X_train, Y)
result = svc.predict(X2_test)
Y_test.insert(1,"target",result,True)
Y_test.head()

    id  target
0  266       0
1  267       0
2  268       1
3  269       0
4  270       0

In [ ]:
Y_test.to_csv("/content/linear.csv",index=False)

In [ ]:
from sklearn.svm import SVC
svc = SVC(kernel="poly", degree=4)
svc.fit(X_train, Y)
result = svc.predict(X2_test)
Y_test.insert(1,"target",result,True)
Y_test.head()

    id  target
0  266       0
1  267       0
2  268       0
3  269       0
4  270       0

In [ ]:
Y_test.to_csv("/content/poly4.csv",index=False)

In [ ]:
from sklearn.svm import SVC
svc = SVC(kernel="rbf")
svc.fit(X_train, Y)
result = svc.predict(X2_test)
Y_test.insert(1,"target",result,True)
Y_test.head()

    id  target
0  266       0
1  267       0
2  268       0
3  269       0
4  270       0

In [ ]:
Y_test.to_csv("/content/rbf.csv",index=False)

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, Y)
result = gnb.predict(X2_test)
Y_test.insert(1,"target",result,True)
Y_test.head()

    id  target
0  266       0
1  267       0
2  268       1
3  269       0
4  270       0

In [ ]:
Y_test.to_csv("/content/Gaussian.csv",index=False)